<form action="/login" method="POST">
    <h1>Please Login</h1>
    <input type="text" name="username" placeholder="Enter Your Username">
    <br>
    <input type="password" name="password" placeholder="Enter Your Password">
    <br>
    <button type="submit">Login</button>
    <br>
    <br>
    <a href="/signup">
        Go to Signup Page
    </a>
</form>