<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="homeDiv">

        <div class="showImg-div showYourImg-div divofdivs">
            <div class="invName">

            </div>
            <div class="showSelected">

            </div>
            <div class="showItems">
                <img class="showImg" src="<%= items[0].img %>" title="<%= items[0].name %>">
            </div>
        </div>

        <div class="pillar divofdivs">

        </div>
        
        <div class="showImg-div showBotImg-div divofdivs">
            <div class="invName">

            </div>
            <div class="showSelected">

            </div>
            <div>
                <img class="showImg" src="<%= items[0].img %>" title="<%= items[0].name %>">
            </div>
        </div>

    </div>
</body>
</html>