<div class="lootboxDiv">
    <img
    src="https://wiki.teamfortress.com/w/images/thumb/b/b2/Backpack_Mann_Co._Supply_Crate.png/250px-Backpack_Mann_Co._Supply_Crate.png"
    alt="Mann Co. Supply Crate"
    title="Mann Co. Supply Crate">
    <a href="/lootbox/foundItem"><h1>Open Crate</h1></a>
</div>